target/
output/

#Ignore IntelliJ IDEA project files
.idea/
*.uml
*.iml
*.ipr
*.iws

#Eclipse project files
.classpath
.project
.settings/
bin/

#NetBeans project files
nbproject/
**/nb-configuration.xml

#Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Scratch workspace tools and maven
scratch/

# Jacoco test reports
jacoco.xml
**/jacoco.exec
**/target/
**/output/
# Temporary configuration
PureEdgeSim/settings/edge_devices_custom.xml